.home-hero{

    display: flex;
    align-items: start;
}

.homepage main{
    padding: 0rem 4rem;
}
.home-hero ul{
    padding-top: 2rem;
    border-right: 1px solid rgba(128, 128, 128, 0.39);
    padding-right: 2rem;
}

.home-hero ul li{
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home-hero ul a{
    text-decoration: none;
    color: black;
}
.home-hero select{
    border: none;
    font-size: 1.2rem;
    margin-left: -8px;

}
.home-hero select:focus{
    outline: none;
}
.home-hero .swiper-container{
    width: 100%;
    padding: 2rem;
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-right: 0;
    

.slider-item {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
   
}
}
.slider-item-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
}
.slider-left-header{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .8rem;
    font-weight: 400;
}
.slider-center{
    font-size: 2.5rem;
    font-weight: 400;
}
.slider-bottom button{
    padding: 0;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 600;
   
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.3s ease;
}
.slider-bottom button:hover{
    
    opacity: .8;
}
.main-slide{
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    height: 100%;
}
 
.todays-section{
    padding: 4rem 0rem;

}


.product-cards-wrapper{
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-top: 40px;
}

.homepage .flashsales{
    display: flex;
    align-items: end;
    gap: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.homepage .time-wrapper{
    display: flex;
   
    align-items: center;
    flex-direction: column;
}

.homepage .flashsales h2{
    font-size: 1.8rem;
    font-weight: 600;
}

.homepage .countdown{
    display: flex;
    align-items: center;
    gap: 10px;
}
.homepage .column-sign{
    color: red;
    font-size: 1.8rem;
    margin-top: 10px;

}

.homepage .flashsales .title{
    font-size: .8rem;
}

.homepage .flashsales .time{
    font-size: 1.8rem;
    font-weight: 500;
}

.homepage .see-more-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.homepage .see-more-wrapper button{
    border: none;
    background-color: red;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.homepage .see-more-wrapper button:hover{
    opacity:.8;
}

.homepage .flashsales-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homepage .products-nav{
    display: flex;
    gap: 10px;
}
.homepage .products-nav button{
    border: none;
    background-color: rgba(255, 227, 227, 0.658);
    color: black;
    padding:  .6rem;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.homepage .products-nav button:hover{
    opacity: .8;
}



.homepage .categories-card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}

.homepage .category-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid rgba(128, 128, 128, 0.39);
    padding: 2rem;
    border-radius: 4px;
    width: 170px;
    height: 145px;

}
.homepage .category-card:hover{
    background-color: red;
    color: white;
}
.homepage .browse-category{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homepage .view-all-btn{
    margin:0 !important;
}
.homepage .best-selling-products{
    margin: 1rem 0rem 4rem 0rem;
}

.ourproducts-wrapper{
   display: flex;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    align-items: start;
}


.homepage .enhance-section{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    border-radius: 10px;
   
    
    margin: 4rem 0rem;
}
.homepage .enhance-section .enhance-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    padding: 4rem;
    padding-right: 0rem;
}
.homepage .enhance-section .enhance-left h5{
    color: rgb(1, 175, 1);
}
.homepage .enhance-section .enhance-left h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.homepage .enhance-section .enhance-left button{
   background-color: rgb(1, 175, 1);
    border: none;
    color: white;
    padding: 1rem 2rem;
    width: fit-content;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
}
.homepage .enhance-section .enhance-left button:hover{
    opacity: .8;
}
.homepage .enhance-section .enhance-right{
    width: 80%;
    height: 500px;
}
.homepage .enhance-section .enhance-right img{
    width: 100%;
     height: 100%;

}

.enhance-left .time-wrapper{
    background-color: white;
    color: black;
    padding: .5rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enhance-left .time{
    font-size: 1.2rem;
    font-weight: 500;
}
.enhance-left .title{
    font-size: .6rem;
}

/* collections section */

.homepage .collections-wrapper{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.homepage .left-collection{
    width: 50%;
   
}
.homepage .collection-card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    min-height: 220px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
}
.homepage .collection-card img{
    
    height: auto;
    object-fit: cover;
    
   
}
.homepage .collection-card p{
    width: 250px;
    line-height: 20px;
    font-weight: 400px;
    font-size: .9rem;
}
.homepage .collection-card h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.homepage .collection-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.homepage .collection-text button{
 border: none;
 border-bottom: 1px solid white;
 padding-bottom: 10px;
background-color: transparent;
color: white;
width: fit-content;
font-size: 1.4rem;
margin-top: 16px;
}
.homepage .collection-text button:hover{
    opacity: .8;
}
.homepage .right-collection{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-collection-upper{
    width: 100%;
    height: 100%;
}

.right-collection-lower{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.newarrival-section{
    padding-bottom: 100px;
}

.feature-cards{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 padding-bottom: 160px;
 padding-top: 80px;
 flex-wrap: wrap;
}
.homepage .feature-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.356);
    border-radius: 4px;
    width: 300px;
    height: 300px;
    color: black;
    gap: 30px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.homepage .feature-card:hover{
    opacity: .8;
}

.feature-img-wrapper{
    background-color: black;
    border: 8px solid gray;
    color: white;
    border-radius: 50%;
     width: 80px;
     height: 80px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2px;
}
.feature-content p{
    font-size: .85rem;
}
.feature-content h3{
    font-weight: 500;
}