.footer{
   
    background-color: black;
    color: white;
    padding: 2rem 4rem;
}

.footer .footer-bottom{
    display: flex;
    justify-content: center;
    color: gray;
    padding-top: 1.2rem ;
     border-top: 1px solid rgba(128, 128, 128, 0.39);
}

.footer .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 40px;

}
.footer .footer-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer a{
    text-decoration: none;
    color:white;
    transition: all 0.6s ease;
    font-weight: 400;
}
.footer a:hover{
    opacity: .6;
}
.footer input{
    background: none;
    color: grey;
    border: none;
}
.footer input:focus{
    outline: none;
}

.footer form{
    border-radius: 4px;
    padding: .5rem 1rem;
    display: flex;
    gap: 10px;
    border: 1px solid rgba(128, 128, 128, 0.39);
}
.footer button{
    border: none;
    background: none;
    transition: all 0.3s;
    color: white;
    font-size: 2rem;
}
.footer button:hover{
    opacity: .8;
}

.footer .social-media{
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

.footer .qr-wrapper{
    display: flex;
    gap: 20px;
    align-items: start;
}
.footer .googleplays{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footer .googleplay{
    width: 100px;
    height: 30px;
    object-fit: cover;
    position: center;
}
.footer .p-save{
    font-size: .8rem;
    font-weight: 300px;
    color:gray;
}

